.bellman-ford {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-55xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--h1-40px-bold-size);
  color: var(--body);
  font-family: var(--b2-16-medium);
}
@media screen and (max-width: 800px) {
  .bellman-ford {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bellman-ford {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
}
