.estimate-earning-potential1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.output-cluster {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.pages1,
.what-kind-of1 {
  position: relative;
  font-weight: 500;
}
.what-kind-of1 {
  width: 349.1px;
  display: inline-block;
  max-width: 100%;
}
.pages1 {
  align-self: stretch;
}
.pages-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-6) 0 0;
  box-sizing: border-box;
  min-width: 304px;
  max-width: 100%;
}
.chevron-icon1 {
  height: 22.2px;
  width: 22.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.constant-holder,
.dropdown1,
.property1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.property1 {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-4xs-9) var(--padding-sm-3) var(--padding-4xs-8);
  box-sizing: border-box;
  gap: var(--gap-29xl-6);
}
.constant-holder,
.dropdown1 {
  align-self: stretch;
}
.dropdown1 {
  border-radius: 8.87px;
  background-color: var(--white);
  border: 1.1px solid var(--neutral-grey);
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 0 var(--padding-12xs);
  font-size: var(--b2-16-medium-size);
  color: var(--color-gray-300);
}
.constant-holder {
  flex-direction: column;
  gap: var(--gap-8xl);
}
.k1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
}
.amount2,
.iteration-loop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.amount2 {
  border-radius: var(--br-mini);
  background-color: var(--body);
  border-bottom: 2px solid var(--primary);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-4xs);
}
.iteration-loop {
  width: 524.2px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--faq-mobile-14px-bold-size);
}
.div5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 16px;
}
.amount3 {
  border-radius: var(--br-mini);
  background-color: var(--body);
  border-bottom: 2px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-4xs);
}
.iteration-loop1,
.sliders {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.iteration-loop1 {
  width: 524.2px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--faq-mobile-14px-bold-size);
}
.sliders {
  width: 572px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.monthly-earning1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.b8 {
  width: 140px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 var(--padding-xs);
  font-size: var(--h1-40px-bold-size);
  color: var(--primary);
}
.monthly-earning-parent,
.values-inner {
  display: flex;
  justify-content: flex-start;
}
.monthly-earning-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-8xl);
}
.values-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs-5);
}
.yearly-earning1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.yearly-earning-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 var(--padding-mini-5);
}
.b9 {
  position: relative;
  font-size: var(--h1-40px-bold-size);
  color: var(--primary);
  white-space: nowrap;
}
.yearly-earnings {
  gap: var(--gap-8xl);
  text-align: left;
}
.values,
.values-wrapper,
.yearly-earnings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.values {
  align-self: stretch;
  gap: var(--gap-62xl);
}
.values-wrapper {
  width: 174px;
  padding: var(--padding-67xl) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h4-22px-bold-size);
}
.button-wrapper,
.main1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main1 {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.button-wrapper {
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.estimated-calculator {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  min-width: 866px;
  text-align: left;
  font-size: var(--cta-18px-semibold-size);
}
.estimated-calculator,
.function-chain,
.input-bundle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.input-bundle {
  width: 866px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.function-chain {
  width: 1400px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-78xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h3-27px-bold-size);
  color: var(--primary-text);
  font-family: var(--b2-16-medium);
}
@media screen and (max-width: 1125px) {
  .input-bundle {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 800px) {
  .property1 {
    flex-wrap: wrap;
    gap: var(--gap-5xl);
  }
  .b8,
  .b9 {
    font-size: var(--font-size-13xl);
  }
  .function-chain {
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .estimate-earning-potential1 {
    font-size: var(--h4-22px-bold-size);
  }
  .monthly-earning1 {
    font-size: var(--cta-18px-semibold-size);
  }
  .b8 {
    font-size: var(--h1-mobile-24px-bold-size);
  }
  .yearly-earning1 {
    font-size: var(--cta-18px-semibold-size);
  }
  .b9 {
    font-size: var(--h1-mobile-24px-bold-size);
  }
  .values-wrapper {
    padding-top: var(--padding-37xl);
    box-sizing: border-box;
  }
  .estimated-calculator {
    gap: var(--gap-6xl);
  }
}
